$container-bg: #f1f2f7;
$menu-bg: #272c33;
$header-color: #00acc1;
$header-bg: #fff;
$menu-color: #272c33;
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);
$width-default: 220px; // 3 960px-grid columns
$zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)
// bootstrap
$font-family-sans-serif: 'Noto Sans KR', sans-serif, -apple-system, '맑은 고딕', 'Malgun Gothic', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial !default;