#root {
    background: $container-bg;
    display: table;
    width: 100%;
}

// left panel
.left-panel {
    background: $menu-bg;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 280px;
    transition: width 0.30s ease;

    .navbar-header {
        float: none;
        text-align: center;
        width: 100%;
    }

    .navbar-nav {
        float: none;
        position: relative;

        li {
            width: 100%;

            &.active .menu-icon,
            &:hover .toggle_nav_button:before,
            .toggle_nav_button.nav-open:before {
                color: #fff !important;
            }

            .dropdown-toggle:after {
                display: none;
            }

            > a {
                background: none !important;
                color: #c8c9ce !important;
                display: inline-block;
                font-size: 14px;
                line-height: 30px;
                padding: 10px 0;
                position: relative;
                width: 100%;

                &:hover,
                &:hover .menu-icon {
                    color: #fff !important;
                }
            }
        }
    }

    .menu-icon {
        color: #8b939b;
        margin-top: 8px;
        margin-right: 18px;
        z-index: 9;
    }

    .menu-title-text {
        font-size: 14px;
    }

    .badge {
        border-radius: 0;
        font-weight: 600;
        float: right;
        margin: 6px 0 0;
        padding: 0.4em 0.5em;
    }

    // sidebar close
    &.s-close {
        max-width: 70px;
        width: 70px;

        .nav-link {
            font-size: 0px;
        }

        .menu-icon {
            font-size: 20px;
            z-index: -1;
        }
    }
}

// right panel
.right-panel {
    display: table-cell;
    padding-left: 0 !important;
    transition: all 0.35s ease;

    .header {
        background: $header-bg;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        clear: both;
        display: inline-block;
        padding: 15px 20px 13px;
        width: 100%;
    }

    &.open {
        margin-left: -210px;
    }
}

.menutoggle {
    background: #e74c3c;
    border-radius: 50%;
    color: #fff !important;
    cursor: pointer;
    font-size: 18px;
    height: 43px;
    line-height: 44px;
    margin: -2px 20px 0 -57px;
    text-align: center;
    width: 43px;
}