@use 'variable';
@use 'mixin';

.button {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;

  @include mixin.set-bgcolor(variable.$gray-800);
  &:hover,
  &:active {
    @include mixin.set-bgcolor(darken(variable.$gray-800, 5%));
  }
}

.button_block {
  width: 100%;
}

@each $name, $color in variable.$theme-color {
  .button_#{$name} {
    @include mixin.set-bgcolor($color);
    &:hover,
    &:active {
      @include mixin.set-bgcolor(darken($color, 5%));
    }
  }
}
