@use 'variable';
@use 'mixin';

/** ------------------------------
* 게시글 상세
* 본문, 댓글
* ---------------------------- **/

.breadcrumb {
  display: flex;
  cursor: default;
  column-gap: #{variable.$gap};
  align-items: center;
  font-size: 13px;
  color: #{variable.$gray-700};
}

.detail {
}

.comment_item {
  font-size: 14px;
  margin-bottom: variable.$gap * 2;
  white-space: pre-wrap;

  .noname_title {
    font-size: 13px;
    font-weight: bold;
    user-select: none;
  }

  .noname_regdt {
    font-size: 13px;
    color: #{variable.$gray-700};
    margin-left: 0.8em;
    user-select: none;
  }
}

.contents_body {
  letter-spacing: -0.5px;
  font-size: 14px;
  font-weight: normal;

  ol,
  ul {
    padding-left: 16px;
  }
}

.horizon {
  height: 1px;
  border: none;
  background-color: #{variable.$gray-400};
}
