$font-family-sans-serif:
  'Pretendard',
  sans-serif,
  -apple-system,
  '맑은 고딕';
$font-family-pretandard:
  'Pretendard',
  -apple-system,
  '맑은 고딕';

$ft-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold;
$ft-sizes: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20;

$white: #fff;
$highlight: #fff4ce;

$primary: #90caf9;
$secondary: #1f8068;
$success: #66bb6a;
$info: #6159ff;
$warning: #e84393;
$danger: #d63031;

$search: #333348;
$disabled: #eceef2;

$gray-100: #f5f5f5;
$gray-200: #eaeced;
$gray-300: #e1e3eb;
$gray-400: #b9bdc7;
$gray-500: #9da1ab;
$gray-600: #5c6887;
$gray-700: #47516b;
$gray-800: #313148;
$gray-900: #232337;

$facebook: #0066d0;
$twitter: #02a0dd;
$instagram: #e1306c;
