@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
}

html,
body,
div#root {
  height: 100%;
}

@page {
  /* size: 297mm 210mm; A4 */
  size: 297mm auto;
  margin: 4mm;
}
@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    page-break-after: avoid;
    page-break-before: avoid;
  }
}

@import './thirdparty.scss';
